@import url("./style/variable.css");
@import url("./style/common.css");
@import url("./style/reset.css");
@import url("./components/pressTab/style.css");

.news-stand {
  width: 930px;
  margin-top: 100px;
}

.news-bar {
  flex-grow: 1;
}

.tab-and-viewer {
  .list-view-btn,
  .grid-view-btn {
    filter: invert(56%) sepia(12%) saturate(253%) hue-rotate(157deg)
      brightness(100%) contrast(90%);
    &:hover {
      filter: invert(32%) sepia(91%) saturate(1041%) hue-rotate(206deg)
        brightness(89%) contrast(89%);
    }
  }
}

.news-list {
  position: relative;
  .field-tab {
    border-bottom: 1px solid var(--border-default);

    .field-tab-btn {
      padding: 11.5px 16px;

      &.active {
        padding-right: 80px;
        font-size: 14px;
        font-weight: 700;
        background-color: var(--surface-brand-alt);
        color: var(--text-white-default);
      }
    }
  }

  .press-info {
    .subscribe-btn {
      padding: 2px 8px;
    }
  }

  .news {
    align-items: start;
  }

  .left-btn,
  .right-btn {
    filter: invert(49%) sepia(8%) saturate(944%) hue-rotate(168deg)
      brightness(97%) contrast(83%);

    cursor: pointer;
    position: absolute;
  }

  @media (prefers-color-scheme: dark) {
    .left-btn,
    .right-btn {
      filter: invert(95%) sepia(0%) saturate(1%) hue-rotate(159deg)
        brightness(94%) contrast(91%);
    }
  }

  .left-btn {
    left: -70px;
    top: 50%;
  }

  .right-btn {
    right: -70px;
    top: 50%;
  }
}
