// flex

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}

// padding
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.p-30 {
  padding: 30px;
}

// margin
.m-10 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}
.m-30 {
  margin: 30px;
}

// font-size

.font-size-08 {
  font-size: 0.8rem;
}
.font-size-09 {
  font-size: 0.9rem;
}
.font-size-11 {
  font-size: 1.1rem;
}
.font-size-12 {
  font-size: 1.2rem;
}
.font-size-13 {
  font-size: 1.3rem;
}

// color

.text-strong {
  color: $text-strong;
}
.text-bold {
  color: $text-bold;
}
.text-default {
  color: $text-default;
}
.text-weak {
  color: $text-weak;
}
.text-white-default {
  color: $text-white-default;
}
.text-white-weak {
  color: $text-white-weak;
}
.text-point {
  color: $text-point;
}
.surface-default {
  background-color: $surface-default;
}
.surface-alt {
  background-color: $surface-alt;
}
.surface-brand-default {
  background-color: $surface-brand-default;
}
.surface-brand-alt {
  background-color: $surface-brand-alt;
}
.border-default {
  border: 1px solid $border-default;
}
.border-bold {
  border: 1px solid $border-bold;
}
