/* padding */
.p-6 {
  padding: 6px;
}

.p-16 {
  padding: 10px;
}

.p-24 {
  padding: 24px;
}

/* margin */
.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.m-30 {
  margin: 30px;
}

.mr-16 {
  margin-right: 16px;
}

/* font style */
.display-bold24 {
  font-size: 24px;
  font-weight: 700;
}
.display-bold16 {
  font-size: 16px;
  font-weight: 700;
}
.display-bold14 {
  font-size: 14px;
  font-weight: 700;
}
.display-bold12 {
  font-size: 12px;
  font-weight: 700;
}
.display-medium16 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.display-medium14 {
  font-size: 14px;
  font-weight: 500;
}
.display-medium12 {
  font-size: 12px;
  font-weight: 500;
}
.selected-bold16 {
  font-size: 16px;
  font-weight: 700;
}
.selected-bold14 {
  font-size: 14px;
  font-weight: 700;
}
.available-medium16 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.available-medium14 {
  font-size: 14px;
  font-weight: 500;
}
.available-medium12 {
  font-size: 12px;
  font-weight: 500;
}
.hover-medium16 {
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  line-height: 22px;
}
.hover-medium14 {
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
}

/* color */
.text-strong {
  color: var(--text-strong);
}

.text-bold {
  color: var(--text-bold);
}

.text-default {
  color: var(--text-default);
}

.text-weak {
  color: var(--text-weak);
}

.text-white-default {
  color: var(--text-white-default);
}

.text-white-weak {
  color: var(--text-white-weak);
}

.text-point {
  color: var(--text-point);
}

.surface-default {
  background-color: var(--surface-default);
}

.surface-alt {
  background-color: var(--surface-alt);
}

.surface-brand-default {
  background-color: var(--surface-brand-default);
}

.surface-brand-alt {
  background-color: var(--surface-brand-alt);
}

.border-default {
  border: 1px solid var(--border-default);
}

.border-bold {
  border: 1px solid var(--border-bold);
}

/* space */
.space-16 {
  height: 16px;
}

.space-24 {
  height: 24px;
}

.space-32 {
  height: 32px;
}
.space-40 {
  height: 40px;
}

/* flex */

.flex {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}

/* align */

.center {
  margin: 0 auto;
}

/* cursor */

.pointer {
  cursor: pointer;
}

/* radius */

.radius-50 {
  border-radius: 50px;
}
