$text-strong: #14212b;
$text-bold: #4b5966;
$text-default: #5f6e76;
$text-weak: #879298;
$text-white-default: #d9dbe9;
$text-white-weak: #d9dbe9;
$text-point: #4362d0;
$surface-default: #ffffff;
$surface-alt: #f5f7f9;
$surface-brand-default: #4362d0;
$surface-brand-alt: #7890e7;
$border-default: #d2dae0;
$border-bold: #6e8091;

@media (prefers-color-scheme: dark) {
  $text-strong: #ffffff;
  $text-bold: #f5f7f9;
  $text-default: #d2dae0;
  $text-weak: #ffffffb2;
  $text-white-default: #ffffff;
  $text-white-weak: #ffffffb2;
  $text-point: #4362d0;
  $surface-default: #14212b;
  $surface-alt: #4b5966;
  $surface-brand-default: #4362d0;
  $surface-brand-alt: #7890e7;
  $border-default: #5f6e76;
  $border-bold: #ffffffb2;
}
