.rolling-bar {
  height: 49px;
  width: 100%;
  position: relative;
  overflow: hidden;

  .current-news-1,
  .current-news-2 {
    position: absolute;
    height: fit-content;
    cursor: pointer;
    width: 100%;

    > a {
      display: block;
      width: 80%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;

      &:hover {
        text-decoration: underline;
        color: var(--text-bold);
      }
    }
  }

  .current-news-1 {
    top: 50%;
    transform: translateY(-50%);

    &.roll {
      animation: rolling1 0.5s forwards;
    }
  }
  .current-news-2 {
    bottom: 0;
    transform: translateY(100%);
    &.roll {
      animation: rolling2 0.5s forwards;
    }
  }
}

@keyframes rolling1 {
  0% {
    bottom: 50%;
    transform: translateY(-50%);
  }
  100% {
    top: 0%;
    transform: translateY(-100%);
  }
}

@keyframes rolling2 {
  0% {
    bottom: 0;
    transform: translateY(100%);
  }
  100% {
    top: 50%;
    transform: translateY(-50%);
  }
}
