.field-tab {
  border-bottom: 1px solid var(--border-default);

  .field-tab-btn {
    position: relative;
    padding: 11.5px 16px;
    display: inline-flex;
    align-items: center;
    z-index: 1;

    &.active {
      font-size: 14px;
      font-weight: 700;
      background-color: var(--surface-brand-alt);
      color: var(--text-white-default);
    }

    .brand-page-wrap,
    .arrow {
      margin-left: 80px;
    }

    .progress-bar {
      position: absolute;
      background-color: var(--surface-brand-default);
      width: 0%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -1;
    }
  }
}
